/* Color */

.black-color { color: $black-color; }
.partial-black-color { color: $partial-black-color; }
.white-color { color: $white-color; }
.partial-white-color { color: $partial-white-color; }
.blue-color { color: $blue-color; }
.gray-color { color: $gray-color; }
.partial-gray-color { color: $partial-gray-color; }

/* Background Color */

.black-bg-color { background-color: $black-color; }
.partial-black-bg-color { background-color: $partial-black-color; }
.white-bg-color { background-color: $white-color; }
.partial-white-bg-color { background-color: $partial-white-color; }
.blue-bg-color { background-color: $blue-color; }
.gray-bg-color { background-color: $gray-color; }
.partial-gray-bg-color { background-color: $partial-gray-color; }

/* NG-Cloak */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Padding */

@mixin pt($size, $unit) {
    padding-top: $size + $unit
}

@mixin pb($size, $unit) {
    padding-bottom: $size + $unit;
}

@mixin pl($size, $unit) {
    padding-left: $size + $unit;
}

@mixin pr($size, $unit) {
    padding-right: $size + $unit;
}

@for $i from 0 through 10 {
    .pt-#{$i}px {
        @include pt($i, px);
    }

    .pb-#{$i}px {
        @include pb($i, px);
    }

    .pl-#{$i}px {
        @include pl($i, px);
    }

    .pr-#{$i}px {
        @include pr($i, px);
    }

    .px-#{$i}px {
        @include pl($i, px);
        @include pr($i, px);
    }

    .py-#{$i}px {
        @include pt($i, px);
        @include pb($i, px);
    }

    .p-#{$i}px {
        @include pl($i, px);
        @include pr($i, px);
        @include pt($i, px);
        @include pb($i, px);
    }

    .pt-#{$i} {
        @include pt($i, em);
    }

    .pb-#{$i} {
        @include pb($i, em);
    }

    .pl-#{$i} {
        @include pl($i, em);
    }

    .pr-#{$i} {
        @include pr($i, em);
    }

    .px-#{$i} {
        @include pl($i, em);
        @include pr($i, em);
    }

    .py-#{$i} {
        @include pt($i, em);
        @include pb($i, em);
    }

    .p-#{$i} {
        @include pl($i, em);
        @include pr($i, em);
        @include pt($i, em);
        @include pb($i, em);
    }
}

/* Margin */

@mixin mt($size, $unit) {
    margin-top: $size + $unit
}

@mixin mb($size, $unit) {
    margin-bottom: $size + $unit;
}

@mixin ml($size, $unit) {
    margin-left: $size + $unit;
}

@mixin mr($size, $unit) {
    margin-right: $size + $unit;
}

@for $i from 0 through 10 {
    .mt-#{$i}px {
        @include mt($i, px);
    }

    .mb-#{$i}px {
        @include mb($i, px);
    }

    .ml-#{$i}px {
        @include ml($i, px);
    }

    .mr-#{$i}px {
        @include mr($i, px);
    }

    .mx-#{$i}px {
        @include ml($i, px);
        @include mr($i, px);
    }

    .my-#{$i}px {
        @include mt($i, px);
        @include mb($i, px);
    }

    .m-#{$i}px {
        @include ml($i, px);
        @include mr($i, px);
        @include mt($i, px);
        @include mb($i, px);
    }

    .mt-#{$i} {
        @include mt($i, em);
    }

    .mb-#{$i} {
        @include mb($i, em);
    }

    .ml-#{$i} {
        @include ml($i, em);
    }

    .mr-#{$i} {
        @include mr($i, em);
    }

    .mx-#{$i} {
        @include ml($i, em);
        @include mr($i, em);
    }

    .my-#{$i} {
        @include mt($i, em);
        @include mb($i, em);
    }

    .m-#{$i} {
        @include ml($i, em);
        @include mr($i, em);
        @include mt($i, em);
        @include mb($i, em);
    }
}

/* Flex */

@mixin flex-base {
    display: flex;
}

.flex-row {
    @include flex-base;
}

.flex-column {
    @include flex-base;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* Font-Weight */

$bold-sizes: (100, 200, 300, 400, 500, 600, 700, 800, 900);

@each $size in $bold-sizes {
    .bold-#{$size} {
        font-weight: $size;
    }
}

.bold {
    font-weight: bold;
}

/* Text Stroke */

@mixin stroke($size, $color) {
    -webkit-text-stroke: $size $color;
}

/* From Previous Developments */

/* Height */

.h-50px { height: 50px; }
.h-75px { height: 75px; }
.h-100px { height: 100px; }
.h-150px { height: 150px; }
.h-200px { height: 200px; }
.h-250px { height: 250px; }
.h-300px { height: 300px; }

/* Max Height */

.max-h-50px { max-height: 50px; }
.max-h-75px { max-height: 75px; }
.max-h-100px { max-height: 100px; }
.max-h-150px { max-height: 150px; }
.max-h-200px { max-height: 200px; }
.max-h-250px { max-height: 250px; }
.max-h-300px { max-height: 300px; }

/* Overflow Y */

.overflow-y-scroll {
    overflow-y: scroll
}

.overflow-y-auto {
    overflow-y: auto
}

/* Borders */

.border-total-black-1 {
    border: 1px solid $black-color;
}

.border-partial-black-1 {
    border: 1px solid $partial-black-color;
}

.border-gray-1 {
    border: 1px solid $partial-gray-color;
}

/* Font Weight */

.font-weight-bold {
    font-weight: bold;
}

/* Cursors */

.cursor-pointer {
    cursor: pointer;
}