@font-face {
    font-family: 'BebasNeue Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BebasNeue Book';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BebasNeue Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BebasNeue Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'BebasNeue Thin';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_thin-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
         url('../fonts/AvenirLTStd-Book.woff') format('woff');
}