/* Fonts */

$default-font: 'Avenir LT Std', 'Arial', 'sans-serif';
$title-font: 'BebasNeue Regular', 'Arial', 'sans-serif';

/* Colors */

$black-color: #000000;
$partial-black-color: #333333;
$white-color: #ffffff;
$partial-white-color: #dddddd;
$blue-color: #3498db;
$gray-color: #626262;
$partial-gray-color: #d1d4d7;
$footer-color: #343434;
$facebook-color: #4267b2;

/* Other Variables */

$text-muted-color-regular: rgb(255, 255, 255);
$text-muted-color-calculated: rgba(255, 255, 255, 0.6);

$panel-accordion-heading-bg: steelblue;
$panel-accordion-heading-color: rgb(255, 255, 255);